gray = rgb(112, 112, 112)
.center
  text-align center

.index-title
  padding-bottom 50px
  @extend .center

.index-list
  font-size 18px
  @extend .center
  color gray

.index-list:hover
  color black