.col-lg-2
  .btn-group
    button.btn.btn-default(type = 'button')
      span.glyphicon.glyphicon-search
    button.btn.btn-default(type = 'button')
      span.glyphicon.glyphicon-download-alt
    button.btn.btn-default(type = 'button')
      span.glyphicon.glyphicon-plus
    button.btn.btn-default(type = 'button')
      span.glyphicon.glyphicon-arrow-left(type = 'button')